{{!-- <li class="classroom-button-link" {{on "click" this.performClickAction}}> --}}
<li class="classroom-button-link">
  <DButton
    @action={{this.performClickAction}}
    @icon={{@icon}}
    @label={{@title}}
  />
  {{!-- <CustomIcon @icon={{@icon}} />
  <span class="classroom-button-link-title">{{@title}}</span> --}}
</li>