{{!-- <dialog class="popup-overlay" id="popup-overlay" {{on "click" this.closePopup}}>
  <div class="popup-content" {{on "click" this.stopPropagation}}>
    {{yield}}
  </div>
</dialog> --}}
<DModal
  class="popup-container"
  @closeModal={{this.closePopup}}
  @bodyClass={{"popup-content"}}
  @flashType="error"
  @hideHeader="true"
>
  <:body>
    {{yield}}
  </:body>
</DModal>