<div id="<%= dom_id video %>">
  <p>
    <strong>Classroom topic:</strong>
    <%= video.classroom_topic_id %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= video.link %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= video.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= video.description %>
  </p>

  <p>
    <strong>Transcript:</strong>
    <%= video.transcript %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= video.notes %>
  </p>

</div>
